<!-- css -->
<link rel="stylesheet" type="text/css" href="/assets/yui-290/build/assets/skins/sam/skin.css"></link>
<link rel="stylesheet" type="text/css" href="/assets/yui-290/build/datatable/assets/skins/sam/datatable.css"></link>
<link rel="stylesheet" type="text/css" href="/assets/yui-290/build/paginator/assets/skins/sam/paginator.css"></link>
<link rel="stylesheet" type="text/css" href="/assets/zuora_yui_override.css"></link>
<!-- YUI js -->
<script type="text/javascript" src="/assets/yui-290/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="/assets/yui-290/build/element/element-min.js"></script>
<script type="text/javascript" src="/assets/yui-290/build/datasource/datasource-min.js"></script>
<script type="text/javascript" src="/assets/yui-290/build/datatable/datatable-min.js"></script>
<script type="text/javascript" src="/assets/yui-290/build/container/container-min.js"></script>
<script type="text/javascript" src="/assets/yui-290/build/paginator/paginator-min.js"></script>
<script type="text/javascript" src="/assets/yui-290/build/connection/connection-min.js"></script>
<script type="text/javascript" src="/assets/yui-290/build/json/json-min.js"></script>

<script type="text/javascript">
 
//
// FUNCTION
//
function toggle_visibility(id) {
  var e = document.getElementById(id);
  if(e.style.display == 'block')
    e.style.display = 'none';
  else
    e.style.display = 'block';
}

function init() {
  var col_defs = [
      {key:"key", width: 200, sortable:true, resizeable:true, label:"Attribute"},
      {key:"value", width: 400, sortable:false, resizeable:true, label:"Value"}
  ];

  var ds = <%= @json_response.html_safe %>;

  account_object = new YAHOO.util.LocalDataSource(ds);
  account_object.responseType = YAHOO.util.DataSource.TYPE_JSON;
  account_object.responseSchema = {
    resultsList: "response.account",
    fields : [
      { key: "key" },
      { key: "value" }
    ]
  }

  parentAccount_object = new YAHOO.util.LocalDataSource(ds);
  parentAccount_object.responseType = YAHOO.util.DataSource.TYPE_JSON;
  parentAccount_object.responseSchema = {
    resultsList: "response.parentAccount",
    fields : [
      { key: "key" },
      { key: "value" }
    ]
  }

  billTo_object = new YAHOO.util.LocalDataSource(ds);
  billTo_object.responseType = YAHOO.util.DataSource.TYPE_JSON;
  billTo_object.responseSchema = {
    resultsList: "response.billTo",
    fields : [
      { key: "key" },
      { key: "value" }
    ]
  }

  soldTo_object = new YAHOO.util.LocalDataSource(ds);
  soldTo_object.responseType = YAHOO.util.DataSource.TYPE_JSON;
  soldTo_object.responseSchema = {
    resultsList: "response.soldTo",
    fields : [
      { key: "key" },
      { key: "value" }
    ]
  }

  defaultPaymentMethod_object = new YAHOO.util.LocalDataSource(ds);
  defaultPaymentMethod_object.responseType = YAHOO.util.DataSource.TYPE_JSON;
  defaultPaymentMethod_object.responseSchema = {
    resultsList: "response.defaultPaymentMethod",
    fields : [
      { key: "key" },
      { key: "value" }
    ]
  }

  var config = {
    dynamicData: false,
    MSG_EMPTY: "No Attribute/Value paris Found."
  }

  account_table = new YAHOO.widget.DataTable("account_table",
                                              col_defs,
                                              account_object,
                                              config);
  parentAccount_table = new YAHOO.widget.DataTable("parentAccount_table",
                                              col_defs,
                                              parentAccount_object,
                                              config);
  billTo_table = new YAHOO.widget.DataTable("billTo_table",
                                              col_defs,
                                              billTo_object,
                                              config);
  soldTo_table = new YAHOO.widget.DataTable("soldTo_table",
                                              col_defs,
                                              soldTo_object,
                                              config);
  defaultPaymentMethod_table = new YAHOO.widget.DataTable("defaultPaymentMethod_table",
                                              col_defs,
                                              defaultPaymentMethod_object,
                                              config);
} // end of init function
YAHOO.util.Event.onDOMReady(init);
</script>

<div class="core-content-3">
  <div class="wrap">
    <%= form_tag '/accounts', { :name => 'form', :autocomplete => 'off' } do %>
    <div class="page-title"><%= @account_table_head %></div>
    <%= render :file => 'shared/common_flash' %>
      <div style="margin:10px 0 10px"><a href="javascript:" onclick="toggle_visibility('account_table');" class="table-title">Account Details</a></div>
      <div style="margin:0 0 0; display: block" id="account_table"></div>
      <div style="margin:10px 0 10px"><a href="javascript:" onclick="toggle_visibility('billTo_table');" class="table-title">Bill To Contact Related To Account</a></div>
      <div style="margin:0 0 0; display:none" id="billTo_table"></div>
      <div style="margin:10px 0 10px"><a href="javascript:" onclick="toggle_visibility('soldTo_table');" class="table-title">Sold To Contact Related To Account</a></div>
      <div style="margin:0 0 0; display:none" id="soldTo_table"></div>
      <div style="margin:10px 0 10px"><a href="javascript:" onclick="toggle_visibility('defaultPaymentMethod_table');" class="table-title">Default Payment Method Related To Account</a></div>
      <div style="margin:0 0 0; display:none" id="defaultPaymentMethod_table"></div>
      <div style="margin:10px 0 10px"><a href="javascript:" onclick="toggle_visibility('parentAccount_table');" class="table-title">Parent Account Related To Account</a></div>
      <div style="margin:0 0 0; display:none" id="parentAccount_table"></div>
      <div style="margin: 10px 0px 0px; float: right" onclick="location.href='/<%= controller_name %>?tid=<%= @tenant_id %>'" class="blue-button">
        <div class="blue-button-left"></div>
        <div class="blue-button-body">Back to <%= controller_name.capitalize %></div>
        <div class="blue-button-right"></div>
      </div>
      <div class="clearfloat"></div>
    <% end %>
  </div>
</div>